In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

\begin{align*}
    S_0^{SPX} &= 2921 \\
    S_0^{AMZN} &= 1971 \\
    \delta^{SPX} &= 1.8\% \\
    \delta^{AMZN} &= 1.9\% \\
    r &= 2.4\% \\
    T & = 0.296
\end{align*}

In [2]:
S0_1 = 2921
S0_2 = 1971
delta_1 = 0.018
delta_2 = 0.019
r = 0.024
T = 0.296
rho = 0.5 # for monte-carlo

In [30]:
data = pd.read_excel("Impvols_SPX_AMZN.xlsx", usecols=[0,1,4,5], header=1).drop(0).reset_index(drop=True).\
            rename(axis=1,mapper={"amzn implied vols": "amzn_implied_vols"})
data

     spx_strikes  spx implied vols  amzn_strikes  amzn_implied_vols
0         1500.0          0.460000         700.0           0.610300
1         1525.0          0.451075         710.0           0.603335
2         1550.0          0.443954         720.0           0.596944
3         1575.0          0.437649         730.0           0.591072
4         1600.0          0.431531         740.0           0.585658
..           ...               ...           ...                ...
272          NaN               NaN        2500.0           0.360919
273          NaN               NaN        2600.0           0.393368
274          NaN               NaN        2700.0           0.430142
275          NaN               NaN        2800.0           0.464860
276          NaN               NaN        2900.0           0.497797

[277 rows x 4 columns]

In [20]:
data.head()

   index  spx_strikes  spx implied vols  amzn_strikes  amzn implied vols
0      1       1500.0          0.460000         700.0           0.610300
1      2       1525.0          0.451075         710.0           0.603335
2      3       1550.0          0.443954         720.0           0.596944
3      4       1575.0          0.437649         730.0           0.591072
4      5       1600.0          0.431531         740.0           0.585658